@page

@using OCloud.WebView.Views
@addTagHelper *, Microsoft.AspNetCore.Mvc.TagHelpers

@model EraseAllModel
@{
}

<html>
<body>
    <div>Warning! All data will be erased</div>
    <div>
        <form method="post">
            <input type="submit" value="Erase All" />
            @*<button type="submit">Erase All</button>*@
        </form>
    </div>
</body>
</html>
