@page

@using OCloud.WebView.Views
@addTagHelper *, Microsoft.AspNetCore.Mvc.TagHelpers


@model PlainResultModel
@{
}

<html>
<body>
    <p>
        <label>@Model.Result</label>
    </p>
</body>
</html>
