@page

@using OCloud.WebView.Views
@addTagHelper *, Microsoft.AspNetCore.Mvc.TagHelpers

@model SuccessModel
@{
}

<html>
<body>
    <p>
        Success '<label asp-for="@Model.Operation"></label>'
    </p>
</body>
</html>